body {
    background-color: #ecf0f1;
    text-align: center;
}

.js-button {
    cursor: pointer;
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-bottom: 5px;
    list-style: none;
}

li > span {
    background-color: darkcyan;
    margin-right: 5px;
}

.clicked {
    color: #7f8c8d;
}

.form-none,
.greetings {
    display: none;
}

.showing {
    display: block;
}