html, body {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
}

table {
    text-align: center;
    margin: 15px;
}

th {
    padding: 15px;
}

.wrapper {
    display: inline-block;
}

.board-div {
    display: inline-block;
}

.first-line {
    background-color: silver;
}

.title {
    width: 80%;
    background-color: rosybrown;
}

.date {
    width: 20%;
    background-color: salmon;
}