html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

table {
    text-align: center;
    margin: 15px;
}

th {
    padding: 15px;
}

button {
    width: 100px;
    height: 50px;
}

.wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.board-div {
    display: inline-block;
}

.input-div {
    margin-bottom: 10px;
}

.input-div #title {
    margin-top: 20px;
    width: 500px;
    height: 50px;
}

.input-div #content {
    width: 500px;
    height: 700px;
}

.first-line {
    background-color: silver;
}

.title {
    background-color: rosybrown;
}

.content {
    background-color: slateblue;
}

.wrapper > .title {
    margin-bottom: 10px;
    height: 20%;
    font-size: 100px;
}

.wrapper > .content {
    margin-bottom: 10px;
    height: 60%;
    font-size: 40px;
}

.date {
    width: 20%;
    background-color: salmon;
}